body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    margin: auto;
    padding: auto;
  }
  
  h1 {
    color:orangered ;
  }
  
  p {
    color:lightblue;
  }
  
  input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #result {
    color:orangered;
    font-weight: bold;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  